name: Rust

on:
  push:
    branches:
      - "main"
      - "renovate/**"
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        submodules: recursive

    - name: Install prerequisites
      run: sudo apt-get update &&
           sudo apt-get install -y --no-install-recommends
               protobuf-compiler cmake
 
    - name: Install stable Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: llvm-tools-preview
    - uses: taiki-e/install-action@61e5998d108b2b55a81b9b386c18bd46e4237e4f # v2.63.1
      with:
        tool: cargo-llvm-cov
    - uses: taiki-e/install-action@61e5998d108b2b55a81b9b386c18bd46e4237e4f # v2.63.1
      with:
        tool: nextest
      
    - name: Rust Cache
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

    - name: Build
      run: cargo build --verbose

    - name: Run tests (with coverage)
      run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info nextest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: lcov.info
        fail_ci_if_error: true
