name: Rust

on:
  push:
    branches:
      - "main"
      - "renovate/**"
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        submodules: recursive

    - name: Install prerequisites
      run: sudo apt-get update &&
           sudo apt-get install -y --no-install-recommends
               protobuf-compiler cmake
 
    - name: Install stable Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: llvm-tools-preview
    - uses: taiki-e/install-action@f79fe7514db78f0a7bdba3cb6dd9c1baa7d046d9 # v2.62.56
      with:
        tool: cargo-llvm-cov
    - uses: taiki-e/install-action@f79fe7514db78f0a7bdba3cb6dd9c1baa7d046d9 # v2.62.56
      with:
        tool: nextest
      
    - name: Rust Cache
      uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - name: Build
      run: cargo build --verbose

    - name: Run tests (with coverage)
      run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info nextest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: lcov.info
        fail_ci_if_error: true
